<!DOCTYPE html>
<html>
	<head>
		<title>Trans.Ledger - Home</title>
		<meta charset="UTF-8"/>
		<meta name="creator" content="Amol Priyavardhan">
		<meta name="what" content="movie recommender">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="slick/slick.css"/>
		<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
		<link rel="shortcut icon" href="icon2.ico" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel= "stylesheet" type="text/css" href="../static/index.css"/>
		<link rel= "stylesheet" type="text/css" href="../static/add_transaction.css.css"/>
		<link rel= "stylesheet" type="text/css" href="../static/get_transactions.css"/>
		<script>
			$(document).ready(function(){
				$('#user').click(function(){
					$('#dropdoptions').slideToggle(350);
				});
			});
		</script>
	</head>

	<body>
		<div>
			<header>
				<div class="lcont">
					<a href="#"><img src="/static/logo.png"></a>
					<h1>TRANS.LEDGER</h1>
				</div>
				<div class="rcont">
					<a id="user" href="javascript:void(0);"> {{username}} <span class=" fa fa-angle-down"></span></a>
				</div>
				<div id="dropdoptions">
						<ul>
							<li><a href="add_transaction">Add Transaction</a></li>
							<li><a href="connect_node">Connect a Node</a></li>
							<li><a href="get_transactions">View Transactions</a></li>
							<li><a href="get_blockchain">View Blockchain</a></li>
							<li><a href="logout" style="border-bottom:0;">Logout</a></li>
						</ul>
				</div>
			</header>
		</div>

		<div class="table">
				<div class="row">
					<div class="th">Sender</div>
					<div class="th">Receiver</div>
					<div class="th">Amount (INR)</div>
				</div>
				{% for trans in chain %}
					{%  for i in trans['transactions']  %}
				<div class="row">
					<div class="td">{{ i['sender'] }}</div>
					<div class="td">{{ i['receiver'] }}</div>
					<div class="td">{{ i['amount'] }}</div>
				</div>
				{% endfor %}
            {% endfor %}
			</div>

        <footer>
			<h1>TRANS.LEDGER</h1>
			<h2>About</h2>
			<p>Trans.Ledger is an Immutable, Distributed and Decentralized Ledger for recording transactions of funding to political parties. Such a ledger ensure the security of the transactions and assures the donors that their donation amounts are the same as they transacted. And the major advantage of Blockchain Technology in this application is that the transactions of fundings are Public i.e. anyone can see Who donated, to Whom, and How much? Such a ledger can be seen by everyone but modified by none.</p>
			<h2>Connect</h2>
			<div id="sicons">
					<a href="#" style="padding:12px 0px 0px  16px;"><span class="fa fa-facebook"></span></a>
					<a href="#" style="padding:11px 0px 0px 13px;"><span class="fa fa-instagram"></span></a>
					<a href="#" style="padding:12px 0px 0px 12px;"><span class="fa fa-twitter"></span></a>
					<a href="#" style="padding:11px 0px 0px 13px;"><span class="fa fa-github"></span></a>
			</div>
		</footer>

	</body>
</html>